<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar w/ text</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
        </ul>
        <span class="navbar-text">
          Navbar text with an inline element
        </span>
      </div>
    </div>
  </nav>
{% extends 'plantilla.html'%}
{% block body %}
    
   
    <br>
    <br>
    <h1>Gestion de albums</h1>
    <br>
    
    {% with mensajes= get_flashed_messages() %}
         {% if mensajes %}
            {% for msj in mensajes %}
               <h3> {{ msj }} </h3>
            {% endfor %}
         {% endif %}
    {% endwith %}

    <form action="/guardar" method="post">

        <input type="text" name="txtTitulo" placeholder="Escribe titulo">
        <input type="text" name="txtArtista" placeholder="Escribe artista">
        <input type="number" name="txtAnio" placeholder="Escribe año">
        <button type="submit"> Guardar</button>
    </form>
<br>
<br>

<h1> Albums Guardados</h1>
<br>
<table>
    <thead>
        <tr>
             <td>Id: </td>
             <td>Album: </td>
             <td>Artista: </td>
             <td>Año publicacion: </td>
        </tr>
    </thead>
    <tbody>
        {% for alb in listAlbums %}
        <tr>
             <td> {{alb.0}} </td>
             <td> {{alb.1}} </td>
             <td> {{alb.2}} </td>
             <td> {{alb.3}} </td>
             <td>
                <a href=/editar/{{alb.0}} > Editar </a>
                <a href=/eliminar/{{alb.0}} > Eliminar </a>
             </td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{% endblock %}