
{% extends 'plantilla.html'%}
{% block body %}
    
   
    <div class="mt-5 mb-5">
    <h1 class="display-1 text-center">Gestion de frutas</h1>
    </div>

   
   <div class="container">

    {% with mensajes= get_flashed_messages() %}
    {% if mensajes %}
       {% for msj in mensajes %}

          <div class="alert alert-primary alert-dismissible fade show" role="alert">
           <strong>{{ msj }}</strong>
           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
         </div>     

         <script> Swal.fire('Correcto','La solicitud se hizo correctamente','Hecho')</script>
       {% endfor %}
    {% endif %}
{% endwith %}

    <div class="row">
      
      <div class="col-md-7">
      <h1> Lista de frutas guardadas</h1>
      <table class="table table-striped table-hover">
          <thead>
              <tr>
                   <td>Id: </td>
                   <td>Fruta: </td>
                   <td>Temporada: </td>
                   <td>Precio: </td>
                   <td>Stock:</td>
                   <td>Editar,Eliminar,Consultar:</td>
              </tr>
          </thead>
          <tbody>
              {% for alb in listAlbums %}
              <tr>
                   <td> {{alb.0}} </td>
                   <td> {{alb.1}} </td>
                   <td> {{alb.2}} </td>
                   <td> {{alb.3}} </td>
                   <td> {{alb.4}} </td>
                   <td>
                      <a href=/editar/{{alb.0}} class="btn btn-warning"> <i class="bi bi-pencil-fill"></i> </a>
                      <a href=/eliminar/{{alb.0}} class="btn btn-danger"> <i class="bi bi-trash3-fill"></i> </a>
                      <a href="{{ url_for('consultar_por_nombre') }}"><i class="bi bi-clipboard2-minus-fill"></i></a>

                   </td>
              </tr>
              {% endfor %}
          </tbody>
      
      </table>

    </div> 
    </div>
    </div>  




    {% endblock %}


