
{% extends 'plantilla.html'%}
{% block body %}
    
   
    <div class="mt-5 mb-5">
    <h1 class="display-1 text-center">Gestion de Empleados</h1>
    </div>
   <div class="container">

    {% with mensajes= get_flashed_messages() %}
    {% if mensajes %}
       {% for msj in mensajes %}

          <div class="alert alert-primary alert-dismissible fade show" role="alert">
           <strong>{{ msj }}</strong>
           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
         </div>     

         <script> Swal.fire('Correcto','La solicitud se hizo correctamente','Hecho')</script>
       {% endfor %}
    {% endif %}
{% endwith %}

    <div class="row">
      
      <div class="col-md-7">
      <h1> Lista de utiles</h1>
      <a href="{{ url_for('consultar_empleados_nombre') }}">BUSCAR POR NOMBRE<i class="bi bi-clipboard2-minus-fill"></i></a>
      <table class="table table-striped table-hover">
          <thead>
              <tr>
                   <td>Id: </td>
                   <td>Nombre: </td>
                   <td>Apellido P: </td>
                   <td>Apellido M: </td>
                   <td>PUESTO: </td>
                   <td>CONTRASEÑA: </td>
              </tr>
          </thead>
          <tbody>
              {% for alb in listAlbums %}
              <tr>
                   <td> {{alb.0}} </td>
                   <td> {{alb.1}} </td>
                   <td> {{alb.2}} </td>
                   <td> {{alb.3}} </td>
                   <td> {{alb.4}} </td>
                   <td> {{alb.5}} </td>
                   <td>
                    <a href=/eliminar/{{alb.0}} class="btn btn-danger"> <i class="bi bi-trash3-fill"></i> </a>


                   </td>
              </tr>
              {% endfor %}
          </tbody>
      
      </table>
      <a href="{{ url_for('regresar') }}">REGRESAR</a>
    </div> 
    </div>
    </div>  




    {% endblock %}